.login-tab{
  display: flex;
  margin: 0px;
  background: #0003;
  padding: 2px 0;
  border-radius: 5px; 
  margin-bottom: 10px;
}
.login-header{
  height: 50px;
  font-size: 19px;
  display: flex;
  align-items: center;
  justify-content: center
}
.login-tab-button{
  margin:0 2px;
  width: 100%;
  background: #0f0f0f;
  color: #fff;
  height: 40px;
  border-radius: 5px; 
}
.input-error-text{
  margin-top: -5px;
  font-weight: 400!important;
  margin-bottom: 5px;
  background: #f002;
  color:#a00;
}
*{
  font-weight: 800;
}
.input-label{
  font-weight: 800;
}
.input{
  margin: 10px 0;
  background: none!important;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 5px;
  width: calc(100% - 14px);
  display: block;
  font-weight: 400!important;
}
.input-error{
  border-color:  red!important;
}
.app{ 
  width:  100%;
  max-width: 360px;
  min-width: 360px;
  position: fixed;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}
body{
  background: #1113;
}
.login-btn{
  margin-top: 15px;
  border-radius: 10px;
  height: 32px;
  background: #000;
  color: #fff;
  width: 100%;
}
.loading{
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 1px solid #fff2;
  border-left-color: #fff;
  animation: aa 1s linear infinite;
  margin: 0 auto;
}
@keyframes aa{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}